*

!container/*.template.*
!container/entrypoint.sh
!searx/**
!requirements*.txt

!container/railway.settings.yml
!container/railway-tor.settings.yml
!container/railway-entrypoint.sh
!container/torrc
!container/tor-keepalive.py
